@mixin font {
    font-family: Lato, sans-serif;
    font-size: 1rem;
    color: rgb(78, 78, 78);
}

@mixin flexrow {
    display: flex;
    flex-direction: row;
}

@mixin buttoncolors {
    $color1: #4da2bb;
    $color2: #51ddfc;
    $color3: #58e1c1;
    $color4: #80e8d1;
    $color5: #deb2ee;
}