// Color Varables Typography

$color-link: #4da2bb;
$color-hover1: #fff;
$color-hover2: #58e1c1;

// Media Break Variable

$media-break: 768px;

// Color Variables Grid 

$color1: #927bc1;
$color2: #fd7856;
$color3: #deb2ee;
$color4: #7ee6fd;
$color5: #88d9a0;
$color6: #4da2bb;
$color7: #ec9fa3;
$color8: #fd9f85;
$color9: #e4757a;
$color10: #63cc82;
$color11: #51ddfc;
$color12: #80e8d1;

// Color  Variables Buttons

$btn-background-color: (
    'default': $color11,
    'error': $color9,
    'info': $color1,
    'success': $color10,
    'warning': $color2
);
// Color Variables Form

$input-color: #58e1c1;

// Color Variables Images
$border-color: grey;