// Centering the images

.col-6, .col-3 {
    display: flex;
    justify-content: center;
}

// Frame Image

.img-frame {
    max-width: 100%;
    border: solid 1px $border-color;
    padding: 10px;
}

// Avatar Image

.img-avatar {
    margin: 0 auto;
    display: block;
}

