// Frame Image

.img-frame {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    max-width: 100%;
    border: solid 1px $border-color;
    padding: 10px;
    
}

// Avatar Image

.img-avatar {
    margin: 0 auto;
    display: block;
}

